body {
    background-color: #fff;
    font-family: arial;
}

.article-container {
    width: 56.25rem;
    background-color: #fff;
    padding: 1.875rem;
}

.article-box {
    padding: 1.875rem;
    width: 100%;
}

input {
    padding: 0rem 1.25rem;
    width: 18.75rem;
    height: 2.5rem;
    font-size: 1.375rem;
}

button {
    width: 6.25rem;
    height: 2.75rem;
    font-size: 1.375rem;
}